:root {
  --mainColor: #212334;
  --secondColor: #2d3144;
  --mainText: #e2e3e7;
  --unselectedTextColor:#a4a7b0;
  --highlightColor: #fd9e41;
  --lowlightColor:#594237;
  --borderColor: #a4a7b0;
  --subText: #c7c7c7;
  --borderRadius:3px;
}


* {
  box-sizing: border-box;
  color:#ffffff;
}

html, body {
  padding: 0;
  margin: 0;
  background-color:var(--mainColor);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

p,li,span,lable,input,textarea {
  color: var(--subText);
}

.navbar-nav {background-color: var(--mainColor);}

.icon {height:20px;}

.s1 {
  background-color: var(--mainColor);
  border-bottom: 1px solid var(--borderColor);
  overflow: auto;
  padding:10px 0
}
.s2 {
  background-color: var(--secondColor);
  border-bottom: 1px solid var(--borderColor);
  overflow: auto;
  padding-bottom: 1em;
}

.section__top {
  padding-top:58px;
}

.img-self {
  height:25vh;
  border-radius: 2px;
}

.centered {
  display:flex;
  justify-content: center;
  align-items: center;
}

.dark {
  background-color: var(--mainColor);
}

.card-container {
  position: relative;
  display:flex;
  justify-content: space-between;
}
.card-img {
  max-height:200px;
  max-width:300px;
}
.card-container .card-p {
  position: relative;
}
.card-container .card-p .card-face {
  width:300px;
  height:250px;
  transition: 0.5s;
}

.card-container .card-p .card-face.card-face1 {
  position: relative;
  background:var(--secondColor);
  display:flex;
  justify-content: center;
  align-items: center;
  z-index:1;
  transform:translateY(125px);
  background: var(--mainColor);
  border-radius: var(--borderRadius);
  border:1px solid var(--highlightColor)
}

.card-container .card-p:hover .card-face.card-face1 {
  background:var(--mainColor);
  transform:translateY(0px);
  border-radius: var(--borderRadius) var(--borderRadius) 0 0;
  border-bottom: 0;
}

.card-container .card-p .card-face.card-face1 .project-desc {
  opacity:0.3;
  transition: 0.5s;
  
}

.card-container .card-p:hover .card-face.card-face1 .project-desc {
  opacity:1;
}

.card-container .card-p .card-face.card-face1 .project-desc img {
  max-width:150px;
}
.card-container .card-p .card-face.card-face1 .project-desc h3 {
  margin:10px 0 0;
  text-align:center;
  font-size:1.5em;
}

.card-container .card-p .card-face.card-face2 {
  position: relative;
  background:var(--secondColor);
  display:flex;
  justify-content: center;
  align-items: center;
  padding:5px;
  border-radius: var(--borderRadius);
  border:1px solid var(--highlightColor);
  border-top: 0;
  transform:translateY(-125px);
}

.card-container .card-p:hover .card-face.card-face2 {
  transform:translateY(0px);
  border-radius: 0 0 var(--borderRadius) var(--borderRadius);
}

.card-container .card-p .card-face.card-face2 .project-desc p {
 margin:0;
 text-align: justify;
 text-justify: inter-word;
}

.btn-container {
  display:flex;
  justify-content: space-between;
}