:root {
  --mainColor: #212334;
  --secondColor: #24283B;
  --mainText: #e2e3e7;
  --unselectedTextColor:#a4a7b0;
  --highlightColor: #fd9e41;
  --lowlightColor:#594237;
  --borderColor: #a4a7b0;
  --subText: #c7c7c7;
}




* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  color:#ffffff;
}

html, body {
  padding: 0;
  margin: 0;
  background-color:var(--mainColor);
}

a {
  text-decoration: none;
  color: #0099ff;
}
ul {
  list-style: none;
}

h1,h2,h3,h4,h5,h6,strong {
  color: var(--mainText);
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

h1 {font-size: 56px;}
h2 {font-size: 36px;}
h3 {font-size: 28px;}
h4 {font-size: 24px;}
h5 {font-size: 20px;}
h6 {font-size: 16px;}

p,li,span,lable,input,textarea {
  color: var(--subText);
}

.navbar-nav{background-color: var(--mainColor);}

.icon{height:20px;}

.s1 {
  background-color: var(--mainColor);
  border-bottom: 1px solid var(--borderColor);
  overflow: auto;
  padding:10px 0
}
.s2 {
  background-color: var(--secondColor);
  border-bottom: 1px solid var(--borderColor);
  overflow: auto;
}

.section__top{
  padding-top:58px;
}

.img-self{
  height:25vh;
  border-radius: 2px;
}

.dark{
  background-color: var(--mainColor);
}

